/CGVStudio/.vs/CGVStudio/FileContentIndex/9889bf22-b482-4d14-a6bd-49fac0752066.vsidx
/CGVStudio/.vs/CGVStudio/FileContentIndex/a11f8fff-7d57-438a-a670-2d2a17b2f343.vsidx
/CGVStudio/CGVStudio/Debug/Aabb.obj
/CGVStudio/CGVStudio/Release/Aabb.obj
/CGVStudio/.vs/CGVStudio/v17/ipch/AutoPCH/a5f865a6c34a1f70/APPLICATION.ipch
/CGVStudio/CGVStudio/Debug/Application.obj
/CGVStudio/CGVStudio/Release/Application.obj
/CGVStudio/CGVStudio/Debug/BaseModel.obj
/CGVStudio/CGVStudio/Release/BaseModel.obj
/CGVStudio/CGVStudio/Debug/BaseShader.obj
/CGVStudio/CGVStudio/Release/BaseShader.obj
/CGVStudio/.vs/CGVStudio/v17/Browse.VC.db-shm
/CGVStudio/.vs/CGVStudio/v17/Browse.VC.db-wal
/CGVStudio/.vs/CGVStudio/v17/Browse.VC.opendb
/CGVStudio/CGVStudio/Debug/Camera.obj
/CGVStudio/CGVStudio/Release/Camera.obj
/CGVStudio/CGVStudio/Debug/CapsuleCollision.obj
/CGVStudio/Debug/CGVStudio.exe
/CGVStudio/CGVStudio/Debug/CGVStudio.exe.recipe
/CGVStudio/CGVStudio/Debug/CGVStudio.ilk
/CGVStudio/CGVStudio/Debug/CGVStudio.tlog/CGVStudio.lastbuildstate
/CGVStudio/CGVStudio/Release/CGVStudio.tlog/CGVStudio.lastbuildstate
/CGVStudio/CGVStudio/Release/CGVStudio.log
/CGVStudio/Debug/CGVStudio.pdb
/CGVStudio/CGVStudio.sln.DotSettings.user
/CGVStudio/CGVStudio/Debug/CGVStudio.tlog/CL.command.1.tlog
/CGVStudio/CGVStudio/Release/CGVStudio.tlog/CL.command.1.tlog
/CGVStudio/CGVStudio/Debug/CGVStudio.tlog/Cl.items.tlog
/CGVStudio/CGVStudio/Debug/CGVStudio.tlog/CL.read.1.tlog
/CGVStudio/CGVStudio/Release/CGVStudio.tlog/CL.read.1.tlog
/CGVStudio/CGVStudio/Debug/CGVStudio.tlog/CL.write.1.tlog
/CGVStudio/CGVStudio/Release/CGVStudio.tlog/CL.write.1.tlog
/CGVStudio/CGVStudio/Debug/Collision.obj
/CGVStudio/CGVStudio/Release/Collision.obj
/CGVStudio/CGVStudio/Debug/color.obj
/CGVStudio/CGVStudio/Release/color.obj
/CGVStudio/CGVStudio/Debug/ConstantShader.obj
/CGVStudio/CGVStudio/Release/ConstantShader.obj
/CGVStudio/.idea/.idea.CGVStudio/.idea/encodings.xml
/CGVStudio/CGVStudio/Debug/Framebuffer.obj
/CGVStudio/CGVStudio/Release/Framebuffer.obj
/CGVStudio/CGVStudio/Debug/IndexBuffer.obj
/CGVStudio/CGVStudio/Release/IndexBuffer.obj
/CGVStudio/.idea/.idea.CGVStudio/.idea/indexLayout.xml
/CGVStudio/CGVStudio/Debug/Lights.obj
/CGVStudio/CGVStudio/Release/Lights.obj
/CGVStudio/CGVStudio/Debug/LineBoxModel.obj
/CGVStudio/CGVStudio/Release/LineBoxModel.obj
/CGVStudio/CGVStudio/Debug/LinePlaneModel.obj
/CGVStudio/CGVStudio/Release/LinePlaneModel.obj
/CGVStudio/CGVStudio/Debug/CGVStudio.tlog/link.command.1.tlog
/CGVStudio/CGVStudio/Release/CGVStudio.tlog/link.command.1.tlog
/CGVStudio/CGVStudio/Debug/CGVStudio.tlog/link.read.1.tlog
/CGVStudio/CGVStudio/Release/CGVStudio.tlog/link.read.1.tlog
/CGVStudio/CGVStudio/Debug/CGVStudio.tlog/link.secondary.1.tlog
/CGVStudio/CGVStudio/Debug/CGVStudio.tlog/link.write.1.tlog
/CGVStudio/CGVStudio/Release/CGVStudio.tlog/link.write.1.tlog
/CGVStudio/CGVStudio/Debug/main.obj
/CGVStudio/CGVStudio/Release/main.obj
/CGVStudio/CGVStudio/Debug/Mathf.obj
/CGVStudio/CGVStudio/Debug/Matrix.obj
/CGVStudio/CGVStudio/Release/Matrix.obj
/CGVStudio/CGVStudio/Debug/Model.obj
/CGVStudio/CGVStudio/Release/Model.obj
/assets/texture/noiseTextureTest.png
/CGVStudio/CGVStudio/Debug/Perlin.obj
/CGVStudio/CGVStudio/Debug/PhongShader.obj
/CGVStudio/CGVStudio/Release/PhongShader.obj
/CGVStudio/CGVStudio/Debug/Player.obj
/CGVStudio/CGVStudio/Release/Player.obj
/assets/Poliigon_GrassPatchyGround_4585/2K/Poliigon_GrassPatchyGround_4585.mtlx
/CGVStudio/CGVStudio/Debug/rgbimage.obj
/CGVStudio/CGVStudio/Release/rgbimage.obj
/assets/rock_boulder_cracked_2k/rock_boulder_cracked_2k.blend1
/assets/rock_boulder_cracked_2k/rock_boulder_cracked_ao_2k.dds
/assets/rock_boulder_cracked_2k/rock_boulder_cracked_arm_2k.dds
/assets/rock_boulder_cracked_2k/rock_boulder_cracked_diff_2k.dds
/assets/rock_boulder_cracked_2k/rock_boulder_cracked_diff_2k.jpg
/assets/rock_boulder_cracked_2k/rock_boulder_cracked_disp_2k.dds
/assets/rock_boulder_cracked_2k/rock_boulder_cracked_nor_gl_2k.dds
/assets/rock_boulder_cracked_2k/rock_boulder_cracked_nor_gl_2k.jpg
/assets/rock_boulder_cracked_2k/rock_boulder_cracked_rough_2k.dds
/CGVStudio/CGVStudio/Debug/ShaderLightMapper.obj
/CGVStudio/CGVStudio/Release/ShaderLightMapper.obj
/CGVStudio/CGVStudio/Debug/ShadowMapGenerator.obj
/CGVStudio/CGVStudio/Release/ShadowMapGenerator.obj
/CGVStudio/.vs/CGVStudio/v17/ipch/AutoPCH/4649ffc3a82ecf23/TERRAIN.ipch
/CGVStudio/.vs/CGVStudio/v17/ipch/AutoPCH/bd48ba51bcc25bf9/TERRAIN.ipch
/CGVStudio/CGVStudio/Release/Terrain.obj
/CGVStudio/CGVStudio/Debug/TerrainShader.obj
/CGVStudio/CGVStudio/Release/TerrainShader.obj
/CGVStudio/CGVStudio/Debug/Texture.obj
/CGVStudio/CGVStudio/Release/Texture.obj
/CGVStudio/CGVStudio/Debug/TriangleBoxModel.obj
/CGVStudio/CGVStudio/Release/TriangleBoxModel.obj
/CGVStudio/CGVStudio/Debug/TrianglePlaneModel.obj
/CGVStudio/CGVStudio/Release/TrianglePlaneModel.obj
/CGVStudio/CGVStudio/Debug/TriangleSphereModel.obj
/CGVStudio/CGVStudio/Release/TriangleSphereModel.obj
/CGVStudio/CGVStudio/Release/CGVStudio.tlog/unsuccessfulbuild
/CGVStudio/CGVStudio/Debug/vc143.idb
/CGVStudio/CGVStudio/Debug/vc143.pdb
/CGVStudio/CGVStudio/Release/vc143.pdb
/CGVStudio/.vs/CGVStudio/v17/ipch/AutoPCH/3492ee7dfd9bd25f/VCTMP20164_339614.TERRAIN.00000000.ipch
/CGVStudio/CGVStudio/Debug/vector.obj
/CGVStudio/CGVStudio/Release/vector.obj
/CGVStudio/CGVStudio/Debug/VertexBuffer.obj
/CGVStudio/CGVStudio/Release/VertexBuffer.obj


#nueeeeeee

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
